<h1 class="page-header" {{action "editProcedure" model on="doubleClick"}} >{{name}}</h1>

<div class="container-fluid" {{action "editProcedure" model on="doubleClick"}}>
    {{markdown-view value=description }}
</div>

<h2 class="sub-header">Acciones</h2>
<button class="btn btn-default" {{action "editProcedure" model}}>Editar</button>
<button class="btn btn-danger" {{action "deleteProcedure" model}}>Borrar</button>
