<nav class="principal-navigator">
    <ul class="navigator-list">
        <li class="navigator-item">Inicio</li>
        <li class="navigator-item">{{#link-to 'procedures'}}Procesos{{/link-to}}</li>
        <li class="navigator-item">Labores</li>
        <li class="navigator-item">{{#link-to 'users'}}Usuarios{{/link-to}}</li>
        <button {{action "logout"}}>
            Logout
        </button>
    </ul>
</nav>

<div>
    <section class="col col-2">
      <table>
          <thead>
            <tr>
                <td>
                    <button {{action "createProcedure"}}>
                        Crear nuevo
                    </button>
                </td>
            </tr>
          </thead>
          <tbody>
          {{#each procedure in model }}
              <tr>
                  <td>
                      {{#link-to 'procedures.view' procedure}}{{procedure.name}}{{/link-to}}
                  </td>
              </tr>
          {{else}}
              <tr>
                  <td>No procedures yet</td>
              </tr>
          {{/each}}
          </tbody>
      </table>
    </section>

    {{outlet}}
</div>