<div>
    <div>
        <span>Id:</span>
        <span>{{model.id}}</span>
    </div>
    <div>
        <span>Nombre:</span>
        {{input value=model.name}}
    </div>
    <div>
        <span>Login:</span>
      {{input value=model.login}}
    </div>
    <div>
        <span>Password:</span>
      {{input value=model.password}}
    </div>
    <div>
        <button {{action "save"}}>
            Guardar
        </button>
        <button {{action "delete"}}>
            Borrar
        </button>
    </div>
</div>