{{labeled-label label='Id:' value=model.id}}
{{labeled-input label='Nombre:' value=model.name}}
{{labeled-input label='Login:' value=model.login}}
{{labeled-input label='Password:' value=model.password}}
{{labeled-label label='Created:' value=model.creation}}
{{labeled-label label='Edited:' value=model.modification}}

<p>
<p class="property-input">
  <button class="btn btn-success" {{action "save"}}>Guardar</button>
  <button class="btn btn-danger" {{action "remove"}}>Borrar</button>
</p>
</p>
