{{labeled-label label='Id:' value=model.id}}
{{input class="form-control" placeholder="nombre" value=model.name}}
{{input class="form-control" placeholder="login name" value=model.login}}
{{input class="form-control" placeholder="password" value=model.password}}
{{labeled-label label='Created:' value=model.creation}}
{{labeled-label label='Edited:' value=model.modification}}

<p>
<p class="property-input">
  <button class="btn btn-success" {{action "save"}}>Guardar</button>
  <button class="btn btn-danger" {{action "remove"}}>Borrar</button>
</p>
</p>
