<div>

    {{labeled-label label='Id:' value=model.id}}
    {{labeled-input label='Nombre:' value=model.name}}
    {{labeled-input label='Login:' value=model.login}}
    {{labeled-input label='Password:' value=model.password}}

    <div>
        <button {{action "save"}}>
            Guardar
        </button>
        <button {{action "remove"}}>
            Borrar
        </button>
    </div>
</div>